button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* TABS */
.zl-tabs__avatar {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 100%;
    height: auto;
    cursor: pointer
}

.zl-tabs__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

.zl-tabs__item.zl-tabs__item--active {
    background-color: #006edc;
}

/* CHAT */
.zl-chat {
    width: 100%;
}

.zl-chat__action {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.zl-chat__search {
    flex: 1;
    margin-right: 8px;
    background-color: #eaedf0;
    border-radius: 6px
}

.zl-chat__search:hover {
    background-color: #eaedf0;
}