.zl-item__img {

}

.zl-item__title {
    
}

.zl-item__title,
.zl-item__desc {
    --height: 22px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: var(--height);
    line-height: var(--height);
    overflow: hidden;
}
