.text-input {
  width: 100%;
  margin-top: 16px;
  padding: 8px 0;
  border: 1px solid #66a8ff;
}

.text-input:focus {
  outline: none;
}

.div-input {
  margin-top: 16px;
  border: 1px solid transparent;
  cursor: default;
}

.div-input:hover {
  border: 1px solid #66a8ff;
}
