:root {
  --border-color: #66a8ff;
}

.box {
  border: 1px solid transparent;
}

.box:hover {
  border: 1px solid var(--border-color);
}

.img {
  height: auto;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid transparent;
}

/* .img:hover {
    border: 1px solid var(--border-color);
  } */

.row {
  padding: 16px 0;
  border: 1px solid transparent;
}

.row:hover {
  border: 1px solid var(--border-color);
}

.section {
  border: 1px solid transparent;
}

.section:hover {
  border: 1px solid var(--border-color);
}

/* TEXT CSS */
.text-input {
  width: 100%;
  margin-top: 16px;
  padding: 8px 0;
  border: 1px solid transparent;
}

.text-input:focus {
  border: 1px solid var(--border-color);
  outline: none;
}

.div-input {
  margin-top: 16px;
  border: 1px solid transparent;
  cursor: default;
}

.div-input:hover {
  border: 1px solid var(--border-color);
}
